/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2013 - 2015
 * 
 *  @Author:		Overhype Studios
 *  @Date:			12.01.2015
 *  @Description:	Load Campaign Menu Module CSS
 */

.load-campaign-menu-module
{
	top: 0;
	bottom: 0;
	width: 80.0rem;
	height: 72.0rem;
	position: absolute;
	margin: auto;
	z-index : 1;
	pointer-events: auto;
}

.load-campaign-menu-module.is-center
{
	left: 0;
	right: 0;
}


.load-campaign-menu-module > .dialog .content .l-list-container
{
	top: 6.0rem;
	left: 2.0rem;
	right: 2.0rem;
	bottom: 4.0rem;
	position: absolute;
}

.load-campaign-menu-module > .dialog .content .l-list-container .scroll-container
{
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}


.load-campaign-menu-module > .dialog .footer .l-button-bar
{
	top: 0;
	left: 2.0rem;
	right: 2.0rem;
	bottom: 0;
	height: 4.3rem;
	position: absolute;
	margin: auto;
}

.load-campaign-menu-module > .dialog .footer .l-cancel-button
{
	top: 0;
	left: 0;
	bottom: 0;
	width: 17.5rem;
	position: absolute;

	line-height: 3.0rem;
}

.load-campaign-menu-module > .dialog .footer .l-delete-button
{
	top: 0;
	left: 18.0rem;
	bottom: 0;
	width: 17.5rem;
	position: absolute;

	line-height: 3.0rem;
}

.load-campaign-menu-module > .dialog .footer .l-load-button
{
	top: 0;
	right: 0;
	bottom: 0;
	width: 17.5rem;
	position: absolute;

	line-height: 3.0rem;
}

.load-campaign-menu-module .delete-save-dialog
{
	width: 44.9rem;
	height: 20.3rem;

	background-image: url("coui://gfx/ui/skin/save_game_name_background.png");
	background-size: 44.9rem 20.3rem;
	background-repeat: no-repeat;
}

.load-campaign-menu-module .ui-control.popup-dialog .delete-campaign-container
{
	width: 44.9rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	position: relative;
	float: left;
}

.load-campaign-menu-module .ui-control.popup-dialog .delete-campaign-container .row
{
	width: 100%;
	height: 7.0rem;
	position: relative;
	margin: auto;
	float: left;
}