/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2013 - 2020
 * 
 *  @Author:		Overhype Studios
 *  @Date:			01.10.2017
 *  @Description:	Credits CSS
 */


.credits-module
{
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: auto;
	z-index: 1;
	pointer-events: auto;
	/*overflow: hidden;*/
}

.credits-module .crawler
{
	left: 0;
	right: 0;
	position: absolute;
	z-index: 2;

	text-align: center;
	/*overflow: auto;*/
}
