/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2013 - 2020
 * 
 *  @Author:		Overhype Studios
 *  @Date:			23.09.2017
 *  @Description:	World Screen JS
 */

.world-screen
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}


.world-screen > .dialog-container
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 4;

	pointer-events: none;
}


.world-screen > .topbar-container
{
	top: 0;
	left: 0;
	width: 100%;
	height: 10.0rem;
	position: absolute;
	z-index: 2;

	pointer-events: none;
}

.world-screen > .topbar-container .left-module-container
{
	top: 0.3rem;
	left: 0.3rem;
	width: 44.6rem;
	height: 8.8rem;/*4.8rem;*/
	position: absolute;

	pointer-events: auto;
}

.world-screen > .topbar-container .middle-module-container
{
	top: 0.3rem;
	left: 0;
	right: 0;
	width: 12.8rem;
	height: 4.8rem;
	position: absolute;
	margin: auto;

	pointer-events: auto;
}

.world-screen > .topbar-container .right-module-container
{
	top: 0.3rem;
	right: 0.3rem;
	width: 44.6rem;
	height: 4.8rem;
	position: absolute;

	pointer-events: auto;
}


.world-screen > .active-contract-panel-container
{
	top: 6.0rem;
	right: 0.3rem;
	bottom: 0;
	width: 35.6rem;
	position: absolute;
	z-index: 3;

	pointer-events: none;
}

/* Change Name & Title Dialog Container */
.dialog-container .ui-control.popup-dialog.dev-input-popup
{
	width: 44.9rem;
	height: 25.0rem;

	background-image: url("coui://gfx/ui/skin/popup_background_449x250.png");
	background-size: 44.9rem 25.0rem;
	background-repeat: no-repeat;
}

.dialog-container .ui-control.popup-dialog .dev-input-container
{
	width: 100%;
	padding: 0.6rem;
	position: relative;
	float: left;
}

.dialog-container .ui-control.popup-dialog .dev-input-container .row
{
	width: 100%;
	height: 5.9rem;
	position: relative;
	float: left;
}

.dialog-container .ui-control.popup-dialog .dev-input-container .row .label
{
	width: 9.0rem;
	height: 5.9rem;
	margin-right: 1.0rem;
	position: relative;
	float: left;

	line-height: 5.9rem;
	text-align: right;
}

.dialog-container .ui-control.popup-dialog .dev-input-container .row .l-input
{
	width: 30.0rem;
	height: 4.0rem;
	margin-top: 1.0rem;
	margin-bottom: 1.0rem;
	position: relative;
	float: left;
}