/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2013 - 2020
 * 
 *  @Author:		Overhype Studios
 *  @Date:			15.10.2017
 *  @Description:	Tactical Combat Result Screen CSS
 */

.tactical-combat-result-screen
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}

.tactical-combat-result-screen > .l-dialog-container
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 102.4rem;
	height: 76.8rem;
	position: absolute;
	margin: auto;
	z-index: 2;
}

.tactical-combat-result-screen > .l-dialog-container .dialog .l-tab-container
{
	top: 0.0rem;
	left: 33.0rem;
	right: 0;
	bottom: 0;
	width: 380.0rem;
	height: 4.3rem;
	position: absolute;
	margin: auto;
}

.tactical-combat-result-screen > .l-dialog-container .dialog .l-tab-button
{
	width: 17.4rem;
	height: 4.3rem;
	float: left;
	margin-right: 2.0rem;

	line-height: 3.0rem;
}

.tactical-combat-result-screen > .l-dialog-container .dialog .l-tab-button:last-child
{
	margin-right: 0;
}


.tactical-combat-result-screen > .l-dialog-container .footer .l-button-bar
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 16.0rem;
	height: 4.3rem;
	position: absolute;
	margin: auto;
}

.tactical-combat-result-screen > .l-dialog-container .footer .l-leave-button
{
	top: 0;
	right: 0;
	bottom: 0;
	width: 17.5rem;
	position: absolute;

	line-height: 3.0rem;
}

.tactical-combat-result-screen .ui-control.popup-dialog.stash-resize-popup
{
	width: 44.9rem;
	height: 25.0rem;

	background-image: url("coui://gfx/ui/skin/popup_background_449x250.png");
	background-size: 44.9rem 25.0rem;
	background-repeat: no-repeat;
}

.tactical-combat-result-screen .ui-control.popup-dialog .resize-header
{
	top: 0.5rem;
	left: 0;
	right: 0;
	height: 6.0rem;
	position: absolute;
	margin: auto;
}

.tactical-combat-result-screen .ui-control.popup-dialog .resize-header .header-text
{
	text-align : center;
	line-height: 2.0rem;
}

.tactical-combat-result-screen .ui-control.popup-dialog > .footer .l-button-bar
{
	top: 10.0rem;
}