/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2013 - 2020
 * 
 *  @Author:		Overhype Studios
 *  @Date:			09.10.2017
 *  @Description:	World Screen: Assets Bar Module CSS
 */

.world-screen .topbar-assets-module
{
	top : 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: auto;
}

.world-screen .topbar-assets-module .asset-container
{
	top: -3.8rem;
	bottom: 0;
	width: 9.0rem;
	height: 3.0rem;
	position: absolute;
	margin: auto;
}

.world-screen .topbar-assets-module .asset-container.has-frame
{
	/*border: 1px rgba(130, 130, 130, 1) solid;*/
	/*border-radius: 5px 5px 5px 5px;*/
	/*box-shadow: inset 0 0 4px rgba(0, 0, 0, 1);*/
}

.world-screen .topbar-assets-module .asset-container.is-money
{
	left: 1.0rem;
}

.world-screen .topbar-assets-module .asset-container.is-food
{
	left: 10.6rem;
	width: 7.6rem;
}

.world-screen .topbar-assets-module .asset-container.is-supplies
{
	left: 18.8rem;
	width: 7.6rem;
}

.world-screen .topbar-assets-module .asset-container.is-ammo
{
	left: 27.0rem;
	width: 7.6rem;
}

.world-screen .topbar-assets-module .asset-container.is-medicine
{
	left: 35.2rem;
	width: 7.6rem;
}

.world-screen .topbar-assets-module .asset-container.is-brothers
{
	top: -0.3rem;
	left: 43.4rem;
	width: 7.6rem;
}

.world-screen .topbar-assets-module .l-assets-container
{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.world-screen .topbar-assets-module .l-assets-container img
{
	top: 0;
	bottom: 0;
	left: 0;
	width: 2.8rem;
	height: 2.8rem;
	margin: auto;
	position: absolute;
}

.world-screen .topbar-assets-module .l-assets-container .label
 {
	top: 0;
	bottom: 0;
	left: 3.2rem;
	width: 6.0rem;
	height: 3.0rem;
	margin: auto;
	position: absolute;

	text-align : left;
	line-height: 3.4rem;
 }