/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2013 - 2020
 * 
 *  @Author:		Overhype Studios
 *  @Date:			08.03.2017
 *  @Description:	Tactical Screen: Options Bar Module CSS
 */

.tactical-screen .topbar-options-module
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: auto;
}

.tactical-screen .topbar-options-module .l-center-camera-button,
.tactical-screen .topbar-options-module .l-toggle-blocked-tile-highlights-button,
.tactical-screen .topbar-options-module .l-switch-map-level-up-button,
.tactical-screen .topbar-options-module .l-switch-map-level-down-button,
.tactical-screen .topbar-options-module .l-toggle-stats-overlays-button,
.tactical-screen .topbar-options-module .l-toggle-trees-button,
.tactical-screen .topbar-options-module .l-flee-button,
.tactical-screen .topbar-options-module .l-quit-button
{
	top: 0.2rem;
	bottom: 0;
	width: 4.5rem;
	height: 4.1rem;
	position: absolute;
	margin: auto 0;
}

/*.tactical-screen .topbar-options-module .l-switch-map-orientation-button
{
	left: 1.0rem;
}*/

.tactical-screen .topbar-options-module .l-center-camera-button
{
	left: 1.0rem;
}

.tactical-screen .topbar-options-module .l-switch-map-level-up-button
{
	left: 5.0rem;
}

.tactical-screen .topbar-options-module .l-switch-map-level-down-button
{
	left: 9.0rem;
}

.tactical-screen .topbar-options-module .l-toggle-trees-button
{
	left: 13.0rem;
}

.tactical-screen .topbar-options-module .l-toggle-blocked-tile-highlights-button
{
	left: 17.0rem;
}

.tactical-screen .topbar-options-module .l-toggle-stats-overlays-button
{
	left: 21.0rem;
}

.tactical-screen .topbar-options-module .l-flee-button
{
	right: 5.0rem;
}

.tactical-screen .topbar-options-module .l-quit-button
{
	right: 1.0rem;
}